<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_aluche"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_aluche_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgendaOnline"
        tools:targetApi="31">
        <activity
            android:name=".Configuracion.Configuracion"
            android:exported="false"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name=".Contactos.Actualizar_Contacto"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Contactos.Detalle_Contacto"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Contactos.Agregar_Contacto"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Contactos.Listar_Contactos"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".ActualizarPass.ActualizarPassUsuario"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Perfil.Editar_imagen_perfil"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Registro"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Notas.Detalle_Nota"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Notas.Actualizar_Nota"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Perfil.Perfil_Usuario"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Notas.Notas_Importantes"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Notas.Listar_Notas"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Notas.Agregar_Nota"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".MenuPrincipal"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Pantalla_De_Carga"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>